<!DOCTYPE html>
<html lang="en">
    <%- include('./partials//header.ejs') %>
<body>
    <div class="test-content">
        <div class="test-container">
    <h2>Pick a test</h2>
    <nav>
        <ul>
            <a href="/science"><li class="test sci">Science</li></a>
            <a href="/history"><li class="test his">History</li></a>
            <a href="/computer"><li class="test comp">Computer</li></a>
        </ul>
    </nav>
</div>
</div>
</body>
</html>